<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG" value="logs"/>
    <property name="LOGERROR" value="logs_error"/>
    <property name="LOGWARN" value="logs_warn"/>

    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%-23(%d{yyyy-MM-dd HH:mm:ss.SSS}) |[%thread] %-5level %c [%L] -|%msg%n"/>
    <property name="PATTERN-CONSOLE"
              value="%-23(%d{yyyy-MM-dd HH:mm:ss.SSS}) |%magenta([%thread]) -%green(%-5level) %cyan(%c [%L]) -|%msg%n"/>
    <property name="ROLLINGSIZE" value="5MB"/>
    <!--日志文件输出路径-->
    <property name="FILE_PATH" value="/log/logs"/>

    <!-- 控制台打印 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN-CONSOLE}</pattern>
            <!--<charset>UTF-8</charset>-->
        </encoder>
    </appender>

    <!-- 每天产生一个文件 -->
    <appender name="ALLFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${FILE_PATH}/${LOG}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${FILE_PATH}/logs.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${ROLLINGSIZE}</maxFileSize>
            <!--日志文件保留天数30天 -->
            <maxHistory>3</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>

    <!-- 错误日志打印 -->
    <appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${FILE_PATH}/${LOGERROR}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${FILE_PATH}/${LOGERROR}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${ROLLINGSIZE}</maxFileSize>
            <!--日志文件保留天数30天 -->
            <maxHistory>3</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
        <!-- 此日志文件只记录error级别的 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 警告日志打印 -->
    <appender name="WARNFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${FILE_PATH}/${LOGWARN}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${FILE_PATH}/${LOGWARN}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${ROLLINGSIZE}</maxFileSize>
            <!-- 日志文件保留天数30天 -->
            <maxHistory>3</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
        <!-- 此日志文件记录warn级别以及以上 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ALLFILE"/>
        <appender-ref ref="ERRORFILE"/>
        <appender-ref ref="WARNFILE"/>
    </root>

    <jmxConfigurator/>
</configuration>
